body {
  margin: 0px;
  background-color: #007ced;
}

#container {
  margin: 5%;
  background-color: white;
  border-radius: 20px;
}

#header {
  display: flex;
  margin: 5%;
}
#navbar {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
}

#namelogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

#namelogo h1 {
  background-color: #007ced;
  width: 25%;
  border-radius: 55%;
  text-align: center;
  color: white;
}

#uppercontainer {
  display: flex;
  margin: 5%;
  align-items: center;
}

#photo {
  width: 20%;
  height: 200px;
  margin: 2%;
  background-image: url("profile.webp");
  background-size: cover;
  border-radius: 50%;
}

#intro p {
  font-size: 16px;
  font-weight: 0;
  font-style: normal;
  line-height: 1.5em;
  color: #666;
}
#intro {
  width: 80%;
}
#role {
  font-size: 25px;
  color: #aaa;
  font-weight: 300;
  margin-bottom: 10px;
}
#name {
  font-size: 48px;
  line-height: 56px;
  margin-top: 0;
  margin-bottom: 20px;
}

#lowercontainer {
  margin: 5%;
  padding-bottom: 5%;
}

#lowercontainer h2 {
  margin: 0%;
  /* text-shadow: 1px 1px 2px #007ced; */
}

#college {
  display: flex;
  justify-content: space-between;
}

#college i {
  display: flex;
  align-items: center;
}

#project {
}

.boxshadow {
  border-style: solid;
  border-width: 2px;
  border-color: lightgrey;
  box-shadow: 2px 2px 5px #007ced;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}
#skillrow {
  display: flex;
  justify-content: space-evenly;
}

progress {
  width: 40%;
}

progress::-webkit-progress-value {
  background: #007ced;
}
